$mazeGray: #383838;
$mazeTeal: #2a9d8f;
$mazeWhite: #fdfdfa;
$backgroundGray: #474650;
$cardGray: #6f7076;
$fontFamily: "Roboto Flex", sans-serif;

%flexCenter {
    display: flex;
    align-items: center;
}


body{
    margin: 0;
    background-color: $backgroundGray;
}

.header {
    @extend %flexCenter;
    padding: 1%;
    width: auto;
    height: auto;
    background-color: #383838;

    &__logo {
        padding-left: 15px;
        padding-right: 45px;
        height: 50px;

        &-container {
            @extend %flexCenter;
        }
    }

    &__search {
        @extend %flexCenter;
        flex-grow: 1;
        height: 50px;
        
        &-input {
            border: none;
            width: 50%;
            height: 40px;
            border-radius: 15px 0px 0px 15px;
        }

        &-button {
            height: 42px;
            border: none;
            border-radius: 0px 15px 15px 0px;
            background-color: $mazeTeal;
        }
    }
}

.showcard{
    @extend %flexCenter;
    background-color: $cardGray;
    border-radius: 5px;
    border-color: #999;
    border-width: 1px;
    border-style: solid;
    width: 450px;
    height: 250px;
    padding: 10px;
    //box-shadow: 0px 5px 5px rgba($color: #000000, $alpha: .5);

    &__image{
        width: 150px;
        height: 200px;
        object-fit: fill;
        border-radius: 5px;
        &-container{
            @extend %flexCenter;
            width: 150px;
            height: 200px;
            margin-left: 15px;
        }
    }

    &__info{
        flex-grow: 1;
        color: $mazeWhite;
        font-family: $fontFamily;
        padding-left: 1em;
    }
}

.cards {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 25px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    gap: 1em;
}


@media (max-width: 1600px) {
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1070px){
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 530px) {
    .cards {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    .showcard {
        width: 90%;
        &__image{
        width: 125px;
        height: 175px;
        &-container{
            width: 125px;
            height: 175px;
            margin-left: 10px;
        }
    }
    }
    
}