$mazeGray: #383838;
$mazeTeal: #2a9d8f;
$mazeWhite: #fdfdfa;
$backgroundGray: #474650;
$cardGray: #6f7076;
$fontFamily: "Roboto Flex", sans-serif;

@mixin paddingLR($left, $right){
    padding-left: $left;
    padding-right: $right;
}

@mixin widthHeight($width, $height){
    width: $width;
    height: $height;
}

%flexCenter {
    display: flex;
    align-items: center;
}

%buttonDefault {
    background-color: $mazeTeal;
    color: $mazeWhite;
    border: 0;
    border-radius: 15px;
    height: 42px;
}

body{
    margin: 0;
    background-color: $backgroundGray;
}

.header {
    @extend %flexCenter;
    @include widthHeight(auto, auto);
    padding: 1%;
    background-color: $mazeGray;

    &__logo {
        @include paddingLR(15px, 45px);
        height: 50px;

        &-container {
            @extend %flexCenter;
        }
    }

    &__search {
        @extend %flexCenter;
        flex-grow: 1;
        height: 50px;
        
        &-input {
            @include widthHeight(50%, 40px);
            border: none;
            border-radius: 15px 0px 0px 15px;
        }

        &-button {
            @extend %buttonDefault;
            border-radius: 0px 15px 15px 0px;
            margin-right: 2px;
            &2{
                @extend %buttonDefault;
                width: 85px;
                border-radius: 15px;
                font-family: $fontFamily;
                font-weight: 500;
            }
        }
    }
}

.showcard{
    @extend %flexCenter;
    background-color: $cardGray;
    border-radius: 5px;
    border-color: #999;
    border-width: 1px;
    border-style: solid;
    @include widthHeight(450px, 250px);
    padding: 10px;

    &__image{
        @include widthHeight(150px, 200px);
        object-fit: fill;
        border-radius: 5px;

        &-container{
            @extend %flexCenter;
            @include widthHeight(150px, 200px);
            margin-left: 15px;
        }
    }

    &__info{
        flex-grow: 1;
        color: $mazeWhite;
        font-family: $fontFamily;
        padding-left: 1em;
    }
}

.cards {
    @include paddingLR(5%, 5%);
    width: 100%;
    margin-top: 25px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    gap: 1em;
    &__default{
        color: $mazeWhite;
    }
}


@media (max-width: 1600px) {
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1070px){
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 530px) {

    .header {
        &__logo{
            @include paddingLR(10px, 10px);
        }
    }
    .cards {
        @include paddingLR(0, 0);
        width: 100%;
    }

    .showcard {
        width: 90%;
        &__image{
            @include widthHeight(125px, 175px);

            &-container{
                @include widthHeight(125px, 175px);
                margin-left: 10px;
        }
        }
    }
    
}